---
import "@styles/global.css";
import { SITE } from "@config/config";
export interface Props {
	title: string;
	description: string;
	image: string;
	permalink: string;
};

const { title = SITE.title, description = SITE.description, permalink = SITE.permalink, image = SITE.image } = Astro.props;
---
	<!-- Global Metadata -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link
		rel="shortcut icon"
		type="image/png"
		sizes="16x16"
		href="/favicon-16x16.png"
	/>
	<!-- Google Font Imports -->

	<!-- Primary MetaTags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	{description && <meta name="description" content={description} />}



	<!-- Open Graph Tags (Facebook) -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content={title} />
	{permalink && <meta property="og:url" content={permalink} />}
	{description && <meta property="og:description" content={description} />}
	{image && <meta property="og:image" content={image} />}

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image" />
	<meta property="twitter:title" content={title} />

	{permalink && <meta property="twitter:url" content={permalink} />}

	{
		description && (
			<meta property="twitter:description" content={description} />
		)
	}

	{image && <meta property="twitter:image" content={image} />}

